name: etcd-{{ansible_hostname}}
data-dir: /var/lib/etcd

client-transport-security:
  cert-file: /etc/kubernetes/pki/etcd/server.crt
  key-file: /etc/kubernetes/pki/etcd/server.key
  trusted-ca-file: /etc/kubernetes/pki/etcd/ca.crt
  client-cert-auth: true
  auto-tls: false
peer-transport-security:
  cert-file: /etc/kubernetes/pki/etcd/peer.crt
  key-file: /etc/kubernetes/pki/etcd/peer.key
  trusted-ca-file: /etc/kubernetes/pki/etcd/ca.crt
  allowed-cn:
  - kube-etcd-peer
  client-cert-auth: true
  auto-tls: false

initial-advertise-peer-urls: https://{{ip_address}}:2380
listen-peer-urls: https://{{ip_address}}:2380
listen-client-urls: https://{{ip_address}}:2379,https://127.0.0.1:2379
advertise-client-urls: https://{{ip_address}}:2379
initial-cluster-token: etcd-cluster-token
initial-cluster: {{initial_cluster}}
initial-cluster-state: new
peer-require-cn: true
