[Unit]
Description=etcd
Documentation=https://github.com/coreos

[Service]
ExecStart=/usr/local/bin/etcd --config-file /etc/kubernetes/etcd-config.yml
Restart=on-failure
RestartSec=5
User=etcd

[Install]
WantedBy=multi-user.target
