{% if http_proxy is defined %}
http_proxy={{http_proxy}}
{% endif %}
{% if https_proxy is defined %}
https_proxy={{https_proxy}}
{% endif %}
no_proxy={{no_proxy|default('')}},127.0.0.1,localhost,10.96.0,10.96.0.1,10.96.0.10,10.244.0.0/16,10.96.0.0/12,*.svc,*.cluster.local,{{all_ips}}
