[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/local/bin/kube-controller-manager \
--bind-address=0.0.0.0 \
--service-cluster-ip-range=10.96.0.0/12 \
--cluster-cidr=10.244.0.0/16 \
--kubeconfig=/var/lib/kubernetes/kube-controller-manager.kubeconfig \
--authentication-kubeconfig=/var/lib/kubernetes/kube-controller-manager.kubeconfig \
--authorization-kubeconfig=/var/lib/kubernetes/kube-controller-manager.kubeconfig \
--leader-elect=true \
--cluster-signing-cert-file=/var/lib/kubernetes/ca.crt \
--cluster-signing-key-file=/var/lib/kubernetes/ca.key \
--root-ca-file=/var/lib/kubernetes/ca.crt \
--service-account-private-key-file=/var/lib/kubernetes/service-account.key \
--controllers=*,bootstrapsigner \
--use-service-account-credentials=true \
--allocate-node-cidrs=true \
--tls-min-version=VersionTLS12 \
--profiling=false \
--v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
