[Unit]
Description=flanneld
Documentation=https://github.com/flannel-io/flannel/

[Service]
ExecStart=/usr/local/bin/flanneld \
  --etcd-endpoints={{ etcd_cluster }} \
  --etcd-keyfile=/etc/kubernetes/pki/etcd-flannel.key \
  --etcd-certfile=/etc/kubernetes/pki/etcd-flannel.crt \
  --etcd-cafile=/etc/kubernetes/pki/etcd-ca.crt \
  --ip-masq
Restart=on-failure
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
