[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
After=containerd.service
Requires=containerd.service

[Service]
EnvironmentFile=/etc/environment
ExecStart=/usr/local/bin/kubelet \
  --config=/etc/kubernetes/kubelet-config.yaml \
  --hostname-override={{ansible_hostname}} \
  --kubeconfig=/etc/kubernetes/kubelet.conf \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
