[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
After=containerd.service
Requires=containerd.service

[Service]
EnvironmentFile=/etc/k8s.env
ExecStart=/usr/local/bin/kubelet \
  --config=/etc/kubernetes/kubelet-config.yaml \
  --hostname-override={{ansible_facts.hostname}} \
  --kubeconfig=/etc/kubernetes/kubelet.conf \
  --v=2
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
