[Unit]
Description=Kubernetes Kube Proxy
Documentation=https://github.com/kubernetes/kubernetes

[Service]
EnvironmentFile=/etc/k8s.env
ExecStart=/usr/local/bin/kube-proxy \
  --config=/etc/kubernetes/kube-proxy-config.yaml
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
