- set_fact:
    arch: "{{ architecture[ansible_facts.architecture|lower] }}"

- name: Delete temporary files
  ansible.builtin.file:
    path: "{{item}}"
    state: absent
  loop:
  - "/tmp/etcd-v{{ etcd_version }}-{{ansible_facts.system | lower}}-{{ arch }}.tar.gz"
  - "/tmp/etcd-v{{ etcd_version }}-{{ansible_facts.system | lower}}-{{ arch }}"
  - /tmp/etcd.conf
  - /tmp/etcd.csr
  - /tmp/peer.csr
  - /tmp/peer.conf
  - /etc/kubernetes/pki/etcd/ca.srl
  ignore_errors: true
