- set_fact:
    arch: "{{ architecture[ansible_facts.architecture|lower] }}"

- name: Delete temporary files
  ansible.builtin.file:
    path: "{{item}}"
    state: absent
  loop:
  - /tmp/helmfile.tar.gz
  - /tmp/k9s.tar.gz
  - /tmp/LICENSE
  - /tmp/README.md
  - /tmp/README-zh_CN.md
  - /tmp/ingress-nginx-values.yaml
  - /tmp/metrics-server-values.yaml
  - /tmp/helmfile-1.yaml
  - /tmp/helmfile-2.yaml
  ignore_errors: true
