- set_fact:
    arch: "{{ architecture[ansible_facts.architecture|lower] }}"

- name: Delete temporary files
  ansible.builtin.file:
    path: "{{item}}"
    state: absent
  loop:
  - "/tmp/flannel-v{{ flanneld_version }}-{{ansible_facts.system | lower}}-{{ arch }}.tar.gz"
  - "/tmp/cni-plugin-flannel-{{ansible_facts.system | lower}}-{{ arch }}-v{{ flannel_version }}.tgz"
  - /tmp/flannel-{{ arch }}
  - /tmp/flanneld
  - /tmp/README.md
  - /tmp/mk-docker-opts.sh
  ignore_errors: true
