- set_fact:
    arch: "{{ architecture[ansible_architecture|lower] }}"

- name: Delete temporary files
  ansible.builtin.file:
    path: "{{item}}"
    state: absent
  loop:
  - /tmp/kube-proxy.csr
  - /tmp/ca.key
  - /tmp/worker.conf
  - "/tmp/runc.{{ arch }}"
  - /etc/kubernetes/pki/ca.srl
  - "/tmp/kubelet.csr"
  - "/tmp/containerd-{{ containerd_version }}-{{ansible_system | lower}}-{{ arch }}.tar.gz"
  ignore_errors: true
