- name: Install kernel modules
  community.general.modprobe:
    name: "{{item}}"
    state: present
    persistent: present
  loop:
  - overlay
  - br_netfilter
  - iscsi_tcp
- name: Install kernel modules
  community.general.modprobe:
    name: "{{item}}"
    state: present
    persistent: present
  loop:
  - iptable_nat
  - iptable_raw
  - iptable_mangle
  - iptable_filter
  - xt_REDIRECT
  - xt_conntrack
  - xt_owner
  - xt_tcpudp
  when: ansible_facts.os_family == 'RedHat'
- name: Configure sysctl via config file
  ansible.builtin.copy:
    dest: /etc/sysctl.d/99-kubernetes.conf
    owner: root
    group: root
    mode: '0644'
    content: |
      vm.overcommit_memory = 1
      kernel.panic_on_oops = 1
      kernel.panic = 10
      net.ipv4.ip_forward = 1
      net.bridge.bridge-nf-call-ip6tables = 1
      net.bridge.bridge-nf-call-iptables = 1
      kernel.pid_max = 4194303
      fs.inotify.max_user_instances = 8192
      fs.file-max = 1024000
      net.ipv4.ip_local_port_range = 11000 65535
      net.ipv4.tcp_max_tw_buckets = 2000000
      net.ipv4.tcp_tw_reuse = 1
      net.ipv4.tcp_fin_timeout = 10
      net.ipv4.tcp_slow_start_after_idle = 0
      net.ipv4.tcp_low_latency = 1
      net.core.somaxconn = 40960
- name: Reload sysctl
  ansible.builtin.command: sysctl --system
  changed_when: false
- name: Disable swap (1/2)
  shell: |
    swapoff -a
- name: Disable swap (2/2)
  replace:
    path: /etc/fstab
    regexp: '^([^#].*?\sswap\s+sw\s+.*)$'
    replace: '# \1'
