- set_fact:
    arch: "{{ architecture[ansible_facts.architecture|lower] }}"

- name: Delete temporary files
  ansible.builtin.file:
    path: "{{item}}"
    state: absent
  loop:
  - /tmp/etcd-flannel.conf
  - /tmp/etcd-flannel.csr
  - /tmp/etcd-ca.key
  - /etc/kubernetes/pki/etcd-ca.srl
  - "/tmp/cni-plugins-{{ansible_facts.system | lower}}-{{ arch }}-v{{cni_version}}.tgz"
  ignore_errors: true
